<ion-view >
    <ion-content >
       <div class="container">
       
       <h3 class="pull-right" style="margin-top:5px; margin-bottom:5px;"><a href=""><u>Logout</u></a></h3>
   <div class="btn-group btn-group-justified ">
  <a href="#/usernotpaid" class="btn btn-default  borders ">Existing Users(Not Paid)</a>
  <a href="#/userPaidNotPickedUp" class="btn btn-default  borders">Paid Customers(Not Picked Up)</a>
  <a href="#/userPaidPickedUp" class="btn btn-default active borders">Paid Customers(Picked Up)</a>
  <a href="#/userPaidComplete" class="btn btn-default borders">Paid Customers(Completed)</a>
  <a href="#/userLiveList" class="btn btn-default borders">Live Customer List</a>
  
</div>
   
    <div class="left-inner-addon ">
    <i class="material-icons">search</i>
    <input type="search"
           class="form-control" 
           placeholder="Search....." />
</div>
  
     <form class="form-horizontal">
      <h3 class="" style="margin-top:10px;"><u>Paid Customers (Picked Up)</u></h3>
        <div class="form-group text-center" style="margin-bottom:0;">
                 
       <div class="col-sm-3 ">
           <a href="" class=""><h4>yonis.mohamoud@live.co.uk</h4></a></div>

           <div class="col-sm-3">
          <button type = "button" id = "addMoreExperience"  style="color:green; margin-left:0;"><span class="glyphicon glyphicon-plus-sign"></span> Add to "Paid Customer" List </button>
      </div>
      <div class="col-sm-3">
          <p>Assignee: <strong>Editor 1</strong></p>
      </div>
        <div class="col-sm-3">
           <button type = "submit" class="btn btn-success borders " style="margin:0; padding:5px; width:100px;"> Reassign</button>
      </div>
      
      </div>
      <div class="form-group text-center" style="margin-bottom:0;">
                  
       <div class=" col-sm-3 ">
           <a href="" class=""><h4>yonis.mohamoud@live.co.uk</h4></a></div>

           <div class="col-sm-3">
          <button type = "button" id = "addMoreExperience"  style="color:green; margin-left:0;"><span class="glyphicon glyphicon-plus-sign"></span> Add to "Paid Customer" List </button>
      </div>
      <div class="col-sm-3">
          <p>Assignee: <strong>Editor 2</strong></p>
      </div>
      <div class="col-sm-3">
          <button type = "submit" class="btn btn-success borders " style="margin:0; padding:5px; width:100px;"> Reassign</button>
      </div>
      </div>
      <div class="form-group text-center" style="margin-bottom:0;">
               
       <div class=" col-sm-3 ">
           <a href="" class=""><h4>yonis.mohamoud@live.co.uk</h4></a></div>

           <div class="col-sm-3">
          <button type = "button" id = "addMoreExperience"  style="color:green; margin-left:0;"><span class="glyphicon glyphicon-plus-sign"></span> Add to "Paid Customer" List </button>
      </div>
      <div class="col-sm-3">
          <p>Assignee: <strong>Editor 3</strong></p>
      </div>
      <div class="col-sm-3">
          <button type = "submit" class="btn btn-success borders " style="margin:0; padding:5px; width:100px;"> Reassign</button>
      </div>
      </div>
      <div class="form-group">
        <div class="col-xs-1 col-sm-1"></div>
         <div class="col-xs-5 col-sm-5">
             <button type = "submit" class="btn btn-default  borders" id="button1" > Cancel </button>
         </div>
	   <div class="col-xs-5 col-sm-5">
           <button type = "submit" class="btn btn-danger borders" id="button1" > Save </button>
	   </div>
	   </div>
 
      </form>
 
       

       
       
        </div>
    </ion-content>
</ion-view>