<div class = "container">
    
    <div class = "row fill" style = "margin-top:20px;" >
          <div class = "col-sm-6">
            <h1 class="text-center" style="font-weight:bold;">Generate Your Academic Portfolio Website! </h1>
            <h3 class="text-center">Fill out some short forms and your done! It is easy and quick.  </h3>
            
              <div class = "hidden-xs">
              <button type = "button" ui-sref="signup" class="btn btn-success btn-block" id="button2">Get Started For Free </button>
              </div>
              
        </div>
        
        <div class = "col-sm-6">
            <img src="images/porfolio on computer.png"   width = "500px" height = "250px" alt="" class="img-responsive center-block">
             <div class = "hidden-sm hidden-md hidden-lg  ">
              <button type = "button" ui-sref="signup" class="btn btn-danger btn-block" id="button2">Get Started For Free </button>
              </div>
        </div>
    </div>


   
<div class = "row" style = "margin-bottom:30px;"> 
   <h2 class="text-center" >Generate A Stunning Portfolio Website Template.</h2>
    
      <div class="col-xs-12 col-sm-6" style = "margin-bottom:50px; margin-top:30px;" ng-repeat = "x in theme|orderBy:'themeNumber'">
                <p class="text-center">Theme {{x.themeNumber}}</p>
                <a href="{{x.hyperlink}}" target = "_blank"> <img src="{{x.image}}" width = "350px"     alt="" class="img-responsive center-block"> </a> 
	   </div>
</div> 
    
    
    
    
    
<div class = "row fill" style = "margin-bottom:30px;">
     <h2 class="text-center" >Your Portfolio Website Will Look Great On All Device Sizes</h2>
    
    <div class = "col-sm-4">
        <h3 class="text-center">Mobile Device</h3>
        <img src="images/porfolio on mobile.png"   width = "170px"  alt="" class="img-responsive center-block">
    </div>
    
    
    <div class = "col-sm-4"> 
         <h3 class="text-center">Tablet Device</h3>
        <img src="images/porfolio on tablet.png"   width = "250px"  alt="" class="img-responsive center-block">
    </div>
    
    
    <div class = "col-sm-4"> 
        <h3 class="text-center">Laptop/Desktop </h3>
        <img src="images/porfolio on computer.png"   width = "500px" alt="" class="img-responsive center-block">
    </div>
</div>  
    
    
    

<div class = "row fill" style = "margin-bottom:30px;">
        <h2 class="text-center">Our Services </h2>
      <div class="col-xs-12 col-sm-6 text-center">
          <p><i class="material-icons" style="color:green; font-size:80px; ">search</i></p>
        <h3>Make Your Website Google Friendly</h3>
        <p>Employers and Clients alike are constantly in search for the best
person to get the job. Whether they use Google or other search
engines. We will make it easy for them to find you!</p>
    </div>
        
     
     <div class="col-xs-12 col-sm-6  text-center" >
        <p><i class="material-icons" style="color:gold; font-size:80px;">mode_edit</i></p>
        <h3>Help from Professional CV and Portfolio Editors</h3>
        <p>An in-depth, Objective Professional Consultation service
will help us understand your career aims, your past
achievement and the value you can bring so that we in
turn can create a bespoke Online Portfolio that pinpoints
your strengths.</p>
       </div>
     
      <div class="col-xs-12 col-sm-6  text-center" >
        <p><i class="material-icons" style="color:blue; font-size:80px;">security</i></p>
        <h3>Hosting and Domain name</h3>
        <p>We are utilising one of the industry‘s most secure cloud platform to
host your online portfolio. As an added bonus, you will have the option to choose from any available domain name for your Academic Portfolio i.e <strong>http://www.JamesPHD.com</strong>.</p>
       </div>
      
   <div class="col-xs-12 col-sm-6   text-center" >
         <p><span class="glyphicon glyphicon-sunglasses" style="color:#6d5a07; font-size:80px;"></span></p>
        <h3>Analyse Your Visitors</h3>
        <p>Are people actually visiting Online Portfolio Site? If you have
subscribed to our service. Of course they will. Check out the
weekly report we send you and see for yourself!</p>
       </div>
    
          <div class="col-xs-12 text-center" >
        <p><i class="material-icons" style="color:#377def; font-size:80px;">person_pin_circle</i><p>
        <h3>Dedicated Support</h3>
        <p>Academics define success differently.  That is why we have centred our services around<br>
(a) How you deﬁne success.<br> 
(b) Your ambitions and goals.<br>
(c) Your Skills and Experiences. <br>
(d) The kind of opportunities you are open to.</p>
        </div>

    </div>

        

<div class = "row fill" ng-show = "false" >
      <h2 class="text-center">Testimonials</h2>
       <div class="col-sm-4 text-center" style = "margin-bottom: 20px;">
           <img src="http://placehold.it/250x100" alt="" class="img-responsive center-block" style=" margin-top:5px;">
           <h4>Yonis Mohamed</h4>
            <p><a href = "#" >https://www.linkedin.com/in/yonis-mohamoud</a></p> 
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit culpa eum rerum perferendis temporibus itaque, officia commodi laborum dolorum quibusdam ipsa quisquam, dolore odio quo, voluptatibus aut, inventore architecto in.</p>
            <p><span class = "pull-left">Rating</span><span ng-repeat = "x in [0,1,2,3,4]"><i class="material-icons col-xs-1" style ="color:gold;">star_rate</i> </span></p>
       </div>
      
       <div class="col-sm-4 text-center" style = "margin-bottom: 20px;">
           <img src="http://placehold.it/250x100" alt="" class="img-responsive center-block" style=" margin-top:5px;">
           <h4>Yonis Mohamed</h4>
           <p><a href = "#" >https://www.linkedin.com/in/yonis-mohamoud</a></p> 
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit culpa eum rerum perferendis temporibus itaque, officia commodi laborum dolorum quibusdam ipsa quisquam, dolore odio quo, voluptatibus aut, inventore architecto in.</p>
         <p><span class = "pull-left">Rating</span><span ng-repeat = "x in [0,1,2,3,4]"><i class="material-icons col-xs-1" style ="color:gold;">star_rate</i> </span></p>
       </div>
     
       <div class="col-sm-4 text-center" style = "margin-bottom: 20px;border-bottom:">
           <img src="http://placehold.it/250x100" alt="" class="img-responsive center-block" style=" margin-top:5px;">
           <h4>Yonis Mohamed</h4>
            <p><a href = "#" >https://www.linkedin.com/in/yonis-mohamoud</a></p> 
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit culpa eum rerum perferendis temporibus itaque, officia commodi laborum dolorum quibusdam ipsa quisquam, dolore odio quo, voluptatibus aut, inventore architecto in.</p>
            <p><span class = "pull-left">Rating</span><span ng-repeat = "x in [0,1,2,3,4]"><i class="material-icons col-xs-1" style ="color:gold;">star_rate</i> </span></p>
       </div>
</div>



</div>
     
    
<div class = "row">
        <div class="col-xs-12 text-center " style="background-color:#b4b6ba; ">
       <p><strong>&#169;</strong> 2017 Landsome Online Portfolio </p>
       <a href="https://www.facebook.com/landsomePortfolio" class="btn-social btn-outline" style = "color:blue; font-size:20px;" ><i class="fa fa-fw fa-facebook"></i></a> &emsp;&emsp;
       <a href="#" class="btn-social btn-outline" style = "color:purple;font-size:20px;"  ><i class="fa fa-fw fa-linkedin"></i></a> &emsp;&emsp;
       <a href="#" class="btn-social btn-outline" style = "color:blue;font-size:20px;" ><i class="fa fa-fw fa-twitter "></i></a> &emsp;&emsp;
        <a href="#" class="btn-social btn-outline" style = "color:blue;font-size:20px;" ><i class="fa fa-fw fa-envelope"></i></a> 
       </div>
</div>
    

    

